*{
    box-sizing: border-box;
    margin: 5px;
    font-family: "Roboto", sans-serif;
}

/*Utility Classes*/

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.fl{
    float: left;
    width: 25%;

}


.fr{
    float: right;
    width: 25%;  
}

/*End Utility Classes*/


.container{
  width: 900px;
  margin: 5px auto;
       
}
#logo{
    width: 150px;
    height: 70px;
}

header{
    height: 70px;
    width: 70;
    margin-bottom: 20px;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
}

.banner{
    height: 400px;
    width: 100%;
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #0000;

}
.text{
    font-size: 20px;
    color:rgba(0, 0, 0, 0.5);
    padding-top: 250px;
    padding-left: 50px;
    padding-bottom: 200px;
}
    
.leader{
    margin-top: 5px;
    height: 50px;
    margin-bottom: 5px;
}
#tx{
    color: rgba(0, 0, 0, 0.5);
}
.main-container{
    height: 700px;   
}


.left{
    height: 200px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-image: url(../img/img-1.jpg);
    background-size: cover;
    border: 1px solid black;
    border-radius: 5px;   
}

  

.center{
    height: 200px;
    width: 400px;
    margin-top: 30px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    background-image: url(../img/banner-2.jpg);
    background-size: cover;
    border: 1px solid black;
    border-radius: 5px;
}

.centrale{ 
    width: 400px;
}


.right{
    height: 200px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-image: url(../img/img-3.jpg);
    background-size: cover;
    border: 1px solid black;
    border-radius: 5px;
}


h4, p{
    margin: 10px 0 10px;
}

footer{
    height: 100px;
    width: 100%;
    margin-top: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: medium;
    font-style: oblique;
    text-align: center;   
}
#heart{
    color: rgb(231, 35, 35);
}



